/**
 * Header
 **/

#masthead.site-header {
  display: flex;
  background-color: $white;
  color: $black;
  background-position: center center;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #333;
  z-index: 50;
  @include break(s){
    flex-direction: column;
  }

  .col-full {
    box-sizing: border-box;
    display: flex;
    width: 100%;
   @include break(m){
     padding: 0 20px;
   }
   &::before,
   &::after {
     display: none;
   }

   .site-branding {
     width: 100%;
     height: 65px;
     margin-bottom: 0;
     @include break(s) {
       width: 35%;
       margin-left: 0;
       margin-right: 0;
       img {
         height: auto;
         max-width: 230px;
         max-height: none;
       }
     }
     // @include break (m){
     //   width: 50%;
     // }

     .custom-logo-link {
       display: inline-block;
       max-width: 185.875px;

       &:focus-visible {
         background-color: $primary-color;
       }
     }

     .custom-logo {
       width: auto !important;
       height: 65px;
       padding: 20px 20px 18px;
       margin: 0;
       @include break(s){
         height: 60px;
         padding: 22px 20px 8px;
       }
     }

     .site-title {
       font-size: 2em;
       letter-spacing: -1px;
       margin: 0;
       a {
         font-weight: 700;
       }
     }
     .site-description {
       font-size: 0.875em;
       display: none;
     }
     .logo {
       margin: 0;
     }
   }

   .site-search {
     display: flex;
     justify-content: flex-end;
     padding: 0;
     margin-bottom: 0;

     @include break(s){
       width: 35%;
       padding: 18px 20px 0;
     }
     .search-button {
       display: block;
       position: relative;
       background-color: $white;
       width: auto;
       height: 100%;
       padding: 22.5px 15px;
       margin: 0;
       z-index: 54;
       transform: translateX(0);
       transition: transform .5s ease;
       cursor: pointer;
       @include break(s){
         display: none;
       }
       &:hover {
         background-color: $tertiary-color;
       }
       &::before {
         display: block;
         top: 0;
         left: 0;
         content: "";
         width: 20px;
         height: 20px;
         background-image: url(../img/search.svg);
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center center;
       }
     }

     .widget_product_search {
       display: block;
       position: absolute;
       background-color: $white;
       width: 100%;
       top: 0;
       left: 0;
       padding: 65px 20px 20px;
       z-index: 53;
       transform: translateX(100%);
       transition: transform .5s ease-in-out;
       @include break(s){
         position: relative;
         display: block;
         padding: 0;
         transform: translateX(0);
       }

       form {
         &::before {
           top: 13px;
           left: 13px;
           content: '';
           width: 14px;
           height: 14px;
           background-image: url("../img/search.svg");
           background-size: contain;
           background-repeat: no-repeat;
         }

         input[type=text],
         input[type=search] {
           background: $white;
           padding: 10px 10px 10px 35px;
           border: 1px solid $black;
           border-radius: 30px;
           margin-bottom: 0;
           box-shadow: none;
         }
         input:focus-visible {
           outline: 2px solid $primary-color;
         }
       }

     }
   }

   .site-search.toggled {
     display: flex;
     justify-content: flex-end;
     padding: 0;
     margin-bottom: 0;
     display: block;

     .search-button {
       transform: translateX(100px);
       &::before {
         background-image: url(../img/close.svg);
       }
     }

     .widget_product_search {
       display: block;
       height: 100vh;
       transform: translateX(0);
     }
   }


   .site-header-cart {
     z-index: 51;
     @include break(s){
       width: 30%;
     }
     .fg-cart {
       display: flex;
       justify-content: flex-end;
       padding: 20.5px 15px;
       @include break(s){
         padding: 25px 20px 20px;
       }
       &:hover {
         background-color: $tertiary-color;
       }
       .count {
         display: block;
         color: $black;
         opacity: 1;
         position: relative;
         padding-top: 5px;
         width: 20px;
         height: 24px;
         font-size: 12px;
         font-weight: 600;
         text-align: center;
         &::before {
           position: absolute;
           display: block;
           content: '';
           background-image: url("../img/bag.svg");
           background-size: contain;
           background-position: 50%;
           background-repeat: no-repeat;
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
         }
       }
     }
     //old version
     a.cart-contents {
       display: block;
       text-align: right;
       padding: 20px 0 10px;
       margin-right: 20px;
       min-width: 100px;
       @include break(s){
         padding: 25px 0 10px;
       }
       &:focus { background-color: #e7c7ae; }
       &::after {
         display: none;
         // -webkit-font-smoothing: antialiased;
         // -moz-osx-font-smoothing: grayscale;
         // display: inline-block;
         // font-style: normal;
         // font-variant: normal;
         // font-weight: normal;
         // line-height: 1;
         // font-family: 'Font Awesome 5 Free';
         // font-weight: 900;
         // line-height: inherit;
         // vertical-align: baseline;
         // content: "\f291";
         // height: 1em;
         // line-height: 1.618;
         // float: none;
         // margin-left: 5px;
         // margin-right: 10px;
         @include break(s){
           margin-right: 0;
         }
       }
       .amount {
         display: none;
         @include break(s){
           display: inline-block;
         }
       }
       span.count {
         display: inline-block;
         color: $black;
         opacity: 1;
         position: relative;
         padding: 3px 4px;
         width: 40px;
         height: 30px;
         font-size: 12px;
         font-weight: 500;
         &:hover {
           background-color: $light-grey;
           border-radius: 20px;
         }
       }
       span.count::before {
         position: absolute;
         display: block;
         content: '';
         background-image: url("../img/bag.svg");
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
       }
     }
   }

 }

 .storefront-primary-navigation {

    @include break(s) {
      clear: both;
      &::before,
      &::after {
        content: '';
        display: table; }
      &::after {
        clear: both; }
    }

    #site-navigation.main-navigation {
      width: 100%;
      margin: 0;

      &.toggled {
        .handheld-navigation,
        .menu > ul:not(.nav-menu),
        ul[aria-expanded=true] {
          max-height: 9999px;
        }
      }

      &.toggled {
        .handheld-navigation {
          display: block;
          overflow: scroll;
          max-height: 100vh;
          transform: translateX(0);
          box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
        }
         .overlay {
           position: fixed;
           width: 100%;
           height: 100vh;
           background-color: rgba(0,0,0,0.4);
           top: 0;
           left: 0;
           transition: 0.5s;
           z-index: -1;
           cursor: pointer;
         }
       }

    }

}

    .site-logo-anchor,
    .site-logo-link,
    .custom-logo-link {
      display: block;
      margin-bottom: 0; }
    .site-logo-anchor img,
    .site-logo-link img,
    .custom-logo-link img {
      width: 100%;
      max-width: 210px; }
    .widget {
      margin-bottom: 0; }

    .primary-navigation,
    .secondary-navigation {
      display: none;
      @include break(s) {
        display: block;
      }
    }

}



/* ===============
 Mobile Header (Nav)
 =============== */

.handheld-navigation {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  max-height: none;
  transform: translateX(100%);
  -webkit-transition: all, ease, 0.5s;
  transition: all, ease, 0.5s;
  background-color: $white;
  clear: both;
  ul.menu {
    overflow: scroll;
    margin-top: 65px;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    > li {
      position: relative;
      padding: 0;
    }
    li > a {
      display: block;
      line-height: 1.2;
      background: #eee;
      padding: 15px;
      margin: 0 12px 12px;
      a:hover {
        color: $primary-color;
      }
    }
    .sub-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      height: auto;
      width: 100%;
      max-height: 0;
      padding: 0 12px 12px;
      margin: -12px 0 0;
      -webkit-transition: all, ease, 0.8s;
      transition: all, ease, 0.8s;
      z-index: +1;

      li {
        padding: 0;
        margin: 2px 0 0;
      }

      li a {
        font-size: .8rem;
        background: $light-grey;
        margin: 0;
      }
    }
    .sub-menu.toggled-on {
      overflow: scroll;
      max-height: 100vh;
    }
  }



  & .dropdown-toggle {
    position: absolute;
    display: block;
    background-color: $black;
    top: 0;
    right: 0;
    width: 60px;
    height: 49px;
    margin-right: 12px;
  }
  & ul.menu .sub-menu.toggled-on {
    visibility: visible;
    max-height: 9999px;
    opacity: 1;
  }

  & ul.menu li button::after {
    -webkit-transition: all, ease, 0.8s;
    transition: all, ease, 0.8s;
    color: $white;

  }
  & ul.menu li button.toggled-on::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }



}

button.menu-toggle {
  cursor: pointer;
  color: $black;
  text-align: left;
  float: right;
  position: relative;
  border: none;
  height: 65px;
  padding: 20px 20px 20px 40px;
  font-size: 16px;
  font-weight: 500;
  z-index: 52;
  background-color: inherit;
  &:hover {
    background-color: $tertiary-color;
  }

  &::before,
  &::after,
  & span::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all, ease, 0.2s;
    transition: all, ease, 0.2s;
    border-radius: 0;
    height: 2px;
    width: 24px;
    right: 20px;
    background-color: $black;
  }
  &::before {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
          }
  &::after {
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
          }
}

.toggled button.menu-toggle {
  &::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
  &::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  & span::before {
    opacity: 0; }
}

// end mob nav



/* ===============
   Desktop Header (Nav)
   =============== */

@include break(s) {

  .site-header {
    .primary-navigation,
    .secondary-navigation {
      display: block;
    }

    .primary-navigation {
      ul.menu,
      ul.nav-menu {
        li {
          position: relative;
          &:hover::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary-color;
            margin-bottom: -2px;
          }

        }
        & > li > a {
          position: relative;
          // background: white;
          line-height: 1.2;
          padding: 15px;
          margin: 0;
          height: 100%;
         &:hover,
         &:focus {
           background-color: transparent;
           color: $primary-color;
         }
       }
      }
    }

  }



.main-navigation.toggled ul[aria-expanded=true] {
  overflow: hidden;
}   .main-navigation.toggled ul[aria-expanded=true]:hover {
    overflow: visible;
  }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation ul li {
  padding: 0;
}

.main-navigation ul.menu,
.main-navigation ul.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
  margin: 0;
}

.main-navigation ul.menu > li.menu-item-has-children > a::after,
.main-navigation ul.menu > li.page_item_has_children > a::after,
.main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu > li.page_item_has_children > a::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 500;
  content: '';
  background-image: url("../img/small-down-chevron.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.main-navigation ul.menu ul.sub-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.main-navigation ul.menu ul.sub-menu li { border-bottom: 2px solid white; }
.main-navigation ul.menu ul.sub-menu li:last-child { border-bottom: none; }
  .main-navigation ul.menu ul.sub-menu li a { background: #f6f6f6; }
    .main-navigation ul.menu ul.sub-menu li a:hover { background: #eee; }
    .main-navigation ul.menu ul.sub-menu li a:focus { color: $primary-color; text-decoration: underline; }



}
