/**
 * Header
 */

header.site-header {
  background-color: $white;
  color: $black;
  background-position: center center;
  position: relative;
  z-index: 999;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #333;

  .storefront-primary-navigation {

    @include break(s) {
        clear: both;
        &::before,
        &::after {
          content: '';
          display: table; }
        &::after {
          clear: both; }
    }

    .main-navigation {

      &.toggled {
        .handheld-navigation,
        .menu > ul:not(.nav-menu),
        ul[aria-expanded=true] {
          max-height: 9999px;
        }
      }

      &.toggled {
        .handheld-navigation {
          display: block;
          overflow: scroll;
          max-height: 100vh;
          transform: translateX(0);
          box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
        }
         .overlay {
           position: fixed;
           width: 100%;
           height: 100vh;
           background-color: rgba(0,0,0,0.4);
           top: 0;
           transition: 0.5s;
           z-index: -1;
           cursor: pointer;
         }
       }

    }
  }

  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    display: block;
    margin-bottom: 0; }
  .site-logo-anchor img,
  .site-logo-link img,
  .custom-logo-link img {
    width: 100%;
    max-width: 210px; }
  .widget {
    margin-bottom: 0; }

  .site-branding {
    position: absolute;
    margin-bottom: 0;

    .custom-logo-link {
      display: inline-block;
      max-width: 185.875px;
      height: 65px;

      &:focus-visible {
        background-color: $primary-color;
      }
    }

    .custom-logo {
      position: absolute !important;
      width: auto !important;
      height: 65px;
      padding: 20px 20px 18px;
      margin: 0;
      @include break(s){
        height: 60px;
        padding: 22px 20px 8px;
      }
    }

    .site-title {
      font-size: 2em;
      letter-spacing: -1px;
      margin: 0;
      a {
        font-weight: 700;
      }
    }
    .site-description {
      font-size: 0.875em;
      display: none;
    }
    .logo {
      margin: 0;
    }
  }

  .primary-navigation,
  .secondary-navigation {
    display: none;
    @include break(s) {
      display: block;
    }
  }

}



/* ===============
 Mobile Header (Nav)
 =============== */

.handheld-navigation {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  max-height: none;
  transform: translateX(100%);
  -webkit-transition: all, ease, 0.8s;
  transition: all, ease, 0.8s;
  background-color: $white;
  clear: both;
  ul.menu {
    overflow: scroll;
    margin-top: 65px;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    > li {
      position: relative;
      padding: 0;
    }
    li > a {
      display: block;
      line-height: 1.2;
      background: #eee;
      padding: 15px;
      margin: 0 12px 12px;
      a:hover {
        color: $primary-color;
      }
    }
    .sub-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      height: auto;
      width: 100%;
      max-height: 0;
      padding: 0 12px 12px;
      margin: -12px 0 0;
      -webkit-transition: all, ease, 0.8s;
      transition: all, ease, 0.8s;
      z-index: +1;

      li {
        padding: 0;
        margin: 2px 0 0;
      }

      li a {
        font-size: .8rem;
        background: $light-grey;
        margin: 0;
      }
    }
    .sub-menu.toggled-on {
      overflow: scroll;
      max-height: 100vh;
    }
  }



  & .dropdown-toggle {
    position: absolute;
    display: block;
    background-color: $black;
    top: 0;
    right: 0;
    width: 60px;
    height: 49px;
    margin-right: 12px;
  }
  & ul.menu .sub-menu.toggled-on {
    visibility: visible;
    max-height: 9999px;
    opacity: 1;
  }

  & ul.menu li button::after {
    -webkit-transition: all, ease, 0.8s;
    transition: all, ease, 0.8s;
    color: $white;

  }
  & ul.menu li button.toggled-on::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }



}

button.menu-toggle {

  cursor: pointer;
  color: $black;
  text-align: left;
  float: right;
  position: relative;
  border: none;
  height: 100%;
  padding: 20px 20px 20px 40px;
  font-size: 16px;
  font-weight: 500;
  z-index: +1;
  background-color: inherit;
  &::before,
  &::after,
  & span::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all, ease, 0.2s;
    transition: all, ease, 0.2s;
    border-radius: 3px;
    height: 2px;
    width: 20px;
    left: 10px;
    background-color: $black;
  }
  &::before {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
          }
  &::after {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
          }
}

.toggled button.menu-toggle {
  &::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
  &::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  & span::before {
    opacity: 0; }
}

// end mob nav



/* ===============
   Desktop Header (Nav)
   =============== */

@include break(s) {

  .site-header {
    .primary-navigation,
    .secondary-navigation {
      display: block;
    }

    .primary-navigation {
      ul.menu,
      ul.nav-menu {
        li {
          position: relative;
          &:hover::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary-color;
            margin-bottom: -2px;
          }

        }
        & > li > a {
          position: relative;
          // background: white;
          padding: 15px;
          margin: 0;
          height: 100%;
         &:hover,
         &:focus {
           background-color: transparent;
           color: $primary-color;
         }
       }
      }
    }

    .site-branding {
      display: block;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      clear: both;
      img {
        height: auto;
        max-width: 230px;
        max-height: none;
      }
    }
  }

  .woocommerce-active {
    .site-header {
      .site-branding {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%;
      }
      .site-search {
        width: 21.7391304348%;
        float: right;
        margin-right: 0;
        clear: none;
      }
      .main-navigation {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%;
        clear: both;
      }
      .site-header-cart {
        width: 21.7391304348%;
        float: right;
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  .storefront-secondary-navigation {
    .site-header {
      .site-branding {
        width: 39.1304347826%;
        float: left;
        margin-right: 4.347826087%;
      }
      .secondary-navigation {
         width: 56.5217391304%;
         float: right;
         margin-right: 0;
       }
    }
  }



  .storefront-secondary-navigation.woocommerce-active {
    .site-header {
      .site-branding {
        width: 21.7391304348%;
        float: left;
        margin-right: 4.347826087%;
        .site-description {
          margin-bottom: 0;
          display: block;
        }
      }
      .secondary-navigation {
        width: 47.8260869565%;
        float: left;
        margin-right: 4.347826087%;
      }
    }

  }


.woocommerce-active .site-header .site-branding,
.woocommerce-active .site-header .main-navigation {
  width: 66.66%;
  margin: 0;
}

.site-header .site-logo-anchor,
.site-header .site-logo-link,
.site-header .custom-logo-link {
  width: inherit;
}

.woocommerce-active .site-header .site-search,
.woocommerce-active .site-header .site-header-cart {
  width: 33.33%;
  margin: 0;
}

.site-search .widget_product_search form::before {
  top: 1em;
  left: 1em;
}

.site-search .widget_product_search input[type=text],
.site-search .widget_product_search input[type=search] {
  padding: 10px 10px 10px 35px;
  border-bottom: 2px solid transparent;
  margin-bottom: 0;}
    .site-search .widget_product_search form input:focus {
      border-bottom: 2px solid $primary-color;
    }

.woocommerce-active .site-header .site-search {
  padding: 20px 20px 0 0;
}

.main-navigation.toggled ul[aria-expanded=true] {
  overflow: hidden;
}   .main-navigation.toggled ul[aria-expanded=true]:hover {
    overflow: visible;
  }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation ul li {
  padding: 0;
}

.main-navigation ul.menu,
.main-navigation ul.nav-menu {
  display: flex;
  width: 100%;
  padding: 0 20px 0 6px;
  margin: 0;
}

.main-navigation ul.menu > li.menu-item-has-children > a::after,
.main-navigation ul.menu > li.page_item_has_children > a::after,
.main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu > li.page_item_has_children > a::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 500;
  content: '';
  background-image: url("../img/small-down-chevron.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.main-navigation ul.menu ul.sub-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.main-navigation ul.menu ul.sub-menu li { border-bottom: 2px solid white; }
.main-navigation ul.menu ul.sub-menu li:last-child { border-bottom: none; }
  .main-navigation ul.menu ul.sub-menu li a { background: #f6f6f6; }
    .main-navigation ul.menu ul.sub-menu li a:hover { background: #eee; }
    .main-navigation ul.menu ul.sub-menu li a:focus { color: $primary-color; text-decoration: underline; }

.site-header-cart a.cart-contents {
  padding: 14px 0;
  margin-right: 20px;
}
  a.cart-contents:focus { background-color: #e7c7ae; }


}




@include break(m) {

  .woocommerce-active .site-header .site-search,
  .woocommerce-active .site-header .site-header-cart {
    width: 25%; }

}
