// Colors

$primary-color: #b89677;
$secondary-color: #f5dfd5;
$tertiary-color: #f7e98d;
$white: #FFFFFF;
$black: #222222;
$light-black: #1a1a1a;
$light-grey: #f6f6f6;
$grey: #666666;
$dark-grey: #333333;
$charcoal: #222222;

// Fonts
$sans-serif: 'DM Sans', Helvetica, Verdana, sans-serif;
$serif: 'PT Serif', Georgia, serif;
$display: 'DM Serif Display', serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Spacing

$spacing-1: 20px;
$spacing-2: 40px;

// Shadow

$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
